Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.

In [1]:
n=10
r=5
p=100
A = p*(1 + r/ 100)*n
print(A)

1050.0

Q2. In a given string format operation, how will you print the given string. <br>
A = 10<br>
B = 20<br>
Str = "There are {} students in the class, with {} who play at least one sport."<br>
a. print(string.format(a,b))<br>
b. print(string+a+b)<br>
c. print(string.format(b,a))<br>
d. None of the above<br>

In [2]:
a = 10
b = 20
Str = "There are {} students in the class, with {} who play at least one sport."
string = "There are {} students in the class, with {} who play at least one sport."
print(string.format(b,a))

print('Correct Ans is C')

There are 20 students in the class, with 10 who play at least one sport.
Correct Ans is C

Q3. In a given sample string, How do you print a double quoted string in between a
regular <br>
string using the escape character? <br>
Sample output = It goes without saying, “Time is Money”, and none can deny it. <br>
a. print(“It goes without saying, \“Time is Money\”, and none can deny it.”) <br>
b. print(“It goes without saying, \Time is Money\, and none can deny it.”) <br>
c. print(“It goes without saying” + “Time is Money” + “and none can deny it.”) <br>
d. None of the above. <br>

In [3]:
 print("It goes without saying, \"Time is Money\", and none can deny it.")

print('Correct Ans is B')

It goes without saying, "Time is Money", and none can deny it.
Correct Ans is B

Q4. What will be the output of the following code?<br>
x = lambda a,b: a//b<br>
x(10,3)<br>
a. 3.3333333333<br>
b. 3<br>
c. 30<br>
d. 1000<br>

In [4]:
x = lambda a,b:a//b
print(x(10,3))
print('Correct ans is B')

3
Correct ans is B

Q5. What will be the output of the following code?<br>
A = 10<br>
B = 12<br>
print("Smaller") if A == B else print("Greater") if A < B else print("True")<br>
a. True<br>
b. Smaller<br>
c. Greater<br>
d. None of the above

In [5]:
A=10
B=12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
print('Correct ans is C')

Greater
Correct ans is C

Q6. What will be the output of the following code?<br>

import os <br>
import numpy as np<br>
my_list1 = [2,7,3,5,4,6]<br>
arr_1 = numpy.array(my_list1,dtype=int)<br>
print(arr_1)<br>
<br>
a. [2 7 3 5 4 6]<br>
b. TypeError<br>
c. NameError: name 'numpy' is not defined<br>
d. None of the above<br>

In [6]:
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
arr_1 = numpy.array(my_list1,dtype=int)
print(arr_1)
print('Correct ans is C')

NameError: name 'numpy' is not defined

Q7. Create a string called ‘string’ with the value as “Machine Learning”. Which code(s) <Br>
is/are appropriate to slice the substring “Learn”?<Br>
a. string[slice(13,8,1)]<Br>
b. string[slice(1,8,1)]<Br>
c. string[8:14]<Br>
d. string[slice(8,13,1)]<Br>

In [7]:
string = 'Machine Learning'
print(string[slice(8,13,1)])

print('Correct ans is D')

Learn
Correct ans is D

Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index <br>
of the<br>
value 18?<br>
a. 3<br>
b. 2<br>
c. 0<br>
d. 1<br>

In [8]:
temp = []
for num in range(10,25,4):
    temp.append(num)
print('Index for value 18 is',temp.index(18))

print('Correct ans is B')

Index for value 18 is 2
Correct ans is B

Q9. Which of the following is true with respect to the below codes?<br>

num1 = 5**4<br>
num2 = pow(5,4)<br>
print(num1,num2)<br>

a. num1 = num2<br>
b. num1 ≠ num2<br>
c. num1 < num2<br>
d. num1 > num2<br>

In [9]:
num1 = 5**4
num2 = pow(5,4)
print(num1,num2)
print('num1 & num2 both values are equal!')

if num1==num2:
    print('Correct ans is A')

625 625
num1 & num2 both values are equal!
Correct ans is A

Q10.A Python NameError exception is raised when: - <br>
a. Trying to access a variable which has not been defined<br>
b. Trying to access a key in a dictionary that does not exist<br>
c. Accessing a column with misspelled column name<br>
d. Accessing the function from a module that has not been imported<br>

In [10]:
print('Correct ans is A')

Correct ans is A

Q11.What type of exception will be raised for the code given below? <br>

x = 'String'<br>
int(x)<br> <br>
a. NameError<br>
b. KeyError<br>
c. ValueError<br>
d. AttributeError<br>

In [11]:
print('Corret ans is C')

Corret ans is C

Q12.A FileNotFoundError exception is raised by operating system errors when: - <br>
a. Trying to create a file or directory which already exists<br>
b. A file or directory is requested but does not exist in the working directory<br>
c. Trying to run an operation without the adequate access rights<br>
d. A directory operation, os.listdir() is requested on something which is not a<br>
directory<br>

In [12]:
print('Correct ans is B')

Correct ans is B

Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: - <br>
a. Complex<br>
b. Character<br>
c. Integer<br>
d. Boolean<br>

In [13]:
print('Correct ans is B')

Correct ans is B

Q14.Which of the following variable(s) are character data type? <br>
a. K= “4”<br>
b. J= “Welcome”<br>
c. L= “?”<br>
d. All of the above<br>

In [14]:
print('Correct ans is D')

Correct ans is D

Q15.Choose the symbol/s that does not have the ability to convert any values to string? <br>
a. ( )<br>
b. “ ”<br>
c. {}<br>
d. #<br>

In [15]:
print('Correct ans is D')

Correct ans is D

Q16.Create a dictionary ‘Country’ that maps the following countries to their capitals
respectively:<Br>
Country India China Japan Qatar France<Br>
State Delhi Beijing Tokyo Doha Marseilles<Br>
Find 2 commands to replace “Marseilles” with “Paris” is:<Br>

In [16]:
Country = {'India':'Delhi','China':'Beijing','Japan':'Tokyo','Qatar':'Doha','France':'Marseilles'}

#1st Way
Country.update({'France':'Paris'})
print(Country)


#2nd Way
Country = {'India':'Delhi','China':'Beijing','Japan':'Tokyo','Qatar':'Doha','France':'Marseilles'}
for key,value in Country.items():
    if key=='France':
        Country[key]='Paris'
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

Q17. Create the tuples given below <br>
tuple_1 = (1,5,6,7,8)<br>
tuple_2 = (8,9,4)<br>
Identify which of the following code does not work on a tuple.<br>
a. sum(tuple_1)<br>
b. len(tuple_2)<br>
c. tuple_2 + tuple_1<br>
d. tuple_1[3] = 45<br>

In [17]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
print('Correct ans is D as tuple ')

Correct ans is D as tuple

Q18. How many elements in the following data structure?

s = {1,2,3,4,4,4,5,6}

In [18]:
s = {1,2,3,4,4,4,5,6}

print('Since this is set, it shows unique values counts. Total count is',len(s))

Since this is set, it shows unique values counts. Total count is 6

Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no
greater than a natural number N.

In [19]:
def pythagoreanTriplets(limits) : 
    c, m = 0, 2
  
    # Limiting c would limit  
    # all a, b and c 
    while c < limits : 
          
        # Now loop on n from 1 to m-1 
        for n in range(1, m) : 
            a = m * m - n * n 
            b = 2 * m * n 
            c = m * m + n * n 
  
            # if c is greater than 
            # limit then break it 
            if c > limits : 
                break
  
            print(a, b, c) 
  
        m = m + 1

limit = 20
pythagoreanTriplets(limit)

3 4 5
8 6 10
5 12 13
15 8 17
12 16 20